
// Body
$body-bg: #f8fafc;

// Typography
/*$font-family-sans-serif: "Lato", sans-serif;*/
$font-family-sans-serif: 'Inter', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$enable-responsive-font-sizes: true;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary: #24C7CB;
$secondary: #93969D;
$light: #F3F4F7;
$tertiary: #08748B;

// Breadcrumb
$breadcrumb-divider: quote(">");
